#root {
  height: 100%;
}

.App {
  display: grid;
  height: 100%;
}

.Game {
  display: grid;
  align-items: center;
  grid-template-rows: 120px auto;
  height: 100%;
}

.Game-minefield { 
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.Game-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 400px;
  width: 400px;
  height: 500px;
}
