.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background: grey;
  }
  
  .grid > div {
    display: flex;
    cursor: pointer;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
 
  .grid-header { 
      width: 400px;
  }

  .bomb { 
    background: orange
  }

  .bomb.over {
    background: blue;
  }

  .checked {
    background: red;
    cursor: default;
    pointer-events: none;
  }

  .over {
    cursor: default;
    pointer-events: none;
  }

